<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/adminForm.css">

  <title>Milkies Admin</title>
</head>
<%- include('../partials/navbar.ejs') %>

<body>
  <section class="form-body">

    <h1>Edit Drink</h1>

    <form action="/menu/admin/<%=drink._id%>/edit" method="POST">

      <div class="input-group mb-3">
        <div><label for="">Drink Name</label></div>
        <input type="text" name="drinkName" value="<%=drink.drinkName %>" id="drinkName" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="input-group mb-3">
        <div><label for="">Image Link</label></div>
        <input type="text" name="image" value="<%=drink.image %>" id="image" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="form-floating">
        <div><label for="floatingTextarea">Description</label></div>
        <textarea name="description" id="description" class="form-control" placeholder="Description"
          id="floatingTextarea"><%=drink.description %> </textarea>
      </div>

      <div>
        <div><label class="form-label" for="sugarLevel">Choose your Sugar Level</label></div> <select
          class="form-control" type="text" id="sugarLevel" name="sugarLevel" required>
          <option selected value="100%">100%</option>
          <option value="80%">80%</option>
          <option value="50%">50%</option>
          <option value="30%">30%</option>
          <option value="0%">0%</option>
        </select>
      </div>

      <div>
        <div><label class="form-label" for="iceLevel">Choose your Ice Level</label></div> <select class="form-control"
          type="text" id="iceLevel" name="iceLevel" required>
          <option selected value="Regular Ice">Regular Ice</option>
          <option value="Less Ice">Less Ice</option>
          <option value="Extra Ice">Extra Ice</option>
          <option value="No Ice">No Ice</option>
        </select>
      </div>

      <div class="input-group mb-3">
        <div><label for="">Price</label></div>
        <input type="text" name="price" value="<%=drink.price %>" id="price" class="form-control"
          aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>

      <div class="button-con">
  <button class="button">Update</button>
</div>
    </form>
  </section>
</body>

</html>