<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/menuIndex.css">

  <!-- Bootstrap -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <title>Menu</title>

</head>
<%- include('../partials/navbar.ejs') %>

  <body class="menu-body">
    <h1>Milkies Menu</h1>

    <section class="card-container">
    <% for (let item of menuItems){ %>
      <div class="card" style="width: 18rem;">
        <a href="/menu/<%=item._id%>" class="card-btn">
        <img src=<%=item.image %> class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title"><%=item.drinkName %></h2>
          <p class="card-text"><%=item.description %></p>
          <p>$<%=item.price %></p>
        </a>
        </div>
      </div>

        <% } %>
      </section>
  </body>

</html>