<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/menuShow.css">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

  <title>Milkies</title>
</head>
<%- include('../partials/navbar.ejs') %>

  <body class="menu-body">
    <container class="show-container">

      <section class="show-left">
        <img class="drink-img" src=<%=drink.image %> alt="" style='height:400px'>
        <div class="drink-name">
          <h1>
            <%= drink.drinkName %>
          </h1>
        </div>
        <div>
          <%= drink.description %>
        </div>
        <div>
          <b>Starting at <%= drink.price %></b>
        </div>
      </section>

      
      <section class="show-right">

        <form class="submit-form" action="/menu/<%=drink._id%>" method="POST">
          <h2>Select a Size:</h2>
          <div>
            <% for (size of sizes) {%>
              <div>
                <input type="radio" id="size" name="size" value="<%=size.size%>" required>
                <%=size.size%> +$<%=size.price%>

              </div>
              <%}%>
          </div>

          <div>
            <h2 class="form-label" for="sugarLevel">Choose your Sugar Level:</h2>
            <input type="radio" id="sugarLevel" name="sugarLevel" value="100%" required>
            <label for="sugarLevel">
              100% Sugar
            </label>
            <input type="radio" id="sugarLevel" name="sugarLevel" value="80%" required>
            <label for="sugarLevel">
              80% Sugar
            </label>
            <input type="radio" id="sugarLevel" name="sugarLevel" value="50%" required>
            <label for="sugarLevel">
              50% Sugar
            </label>
            <input type="radio" id="option1" name="sugarLevel" value="30%" required>
            <label for="sugarLevel">
              30% Sugar
            </label>
            <input type="radio" id="option1" name="sugarLevel" value="0%" required>
            <label for="sugarLevel">
              0% Sugar
            </label>
          </div>

          <div>
            <h2 class="form-label" for="iceLevel">Choose your Ice Level:</h2>
            <input type="radio" id="option1" name="iceLevel" value="Normal Ice" required>
            <label for="iceLevel">
              Normal Ice
            </label>
            <input type="radio" id="option1" name="iceLevel" value="Less Ice" required>
            <label for="iceLevel">
              Less Ice
            </label>
            <input type="radio" id="option1" name="iceLevel" value="Extra Ice" required>
            <label for="iceLevel">
              Extra Ice
            </label>
            <input type="radio" id="option1" name="iceLevel" value="No Ice" required>
            <label for="iceLevel">
              No Ice
            </label>
          </div>

          <h2>Choose your Milk:</h2>
          <div>
            <% for (milk of milks) {%>
              <div>
                <input type="radio" id="milkType" name="milkType" value="<%=milk.milkName%>" required>
                <%=milk.milkName%> +$<%=milk.price%>
              </div>
              <%}%>
          </div>

          <h2>Choose your Toppings: </h2>
          <div>
            <div>
              <input type="checkbox" id="topping" name="topping" value="No Topping" checked>
              No Topping +$0.00
            </div>
            <div>
              <input type="checkbox" id="topping" name="topping" value="Pearls">
              Pearls +$0.80
            </div>
            <div>
              <input type="checkbox" id="topping" name="topping" value="Brown Sugar Pearls">
              Brown Sugar Pearls +$0.80
            </div>
            <div>
              <input type="checkbox" id="topping" name="topping" value="Grass Jelly">
              Grass Jelly +$0.80
            </div>
            <div>
              <input type="checkbox" id="topping" name="topping" value="Coconut Jelly">
              Coconut Jelly +$0.80
            </div>
            <div>
              <input type="checkbox" id="topping" name="topping" value="Pudding">
              Pudding +$0.80
            </div>
          </div>

          <div>
            <h2 class="form-label" for="sugarLevel">Quantity:</h2>
            <input class="calculate" type="number" id="quantity" name="quantity" min="1" value="1" required>
          </div>

          <% if(!user) {%>
            <div class="login-to-order">
              <a href="/user/login">LOGIN TO ORDER</a>
            </div>
            <% } else {%>
              <% if (id && !user.isAdmin){ %>
              <button type="submit" id="cart-btn">ADD TO ORDER</button>
              <% } %>

              <% } %>



                <% if (id && user.isAdmin){ %>

                  <a class="edit-btn" href="/menu/admin/<%=drink._id%>/edit">EDIT
                  </a>

                  <form action="/menu/<%=drink._id%>?_method=DELETE" method="POST">
                    <button class="delete-btn">DELETE</button>
                  </form>

                  <% } %>
        </form>
      </section>
    </container>

  </body>

</html>