<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/navbar.ejs') %>

  <h1>My Account :-)</h1>
  <div>  First Name: <%= user.firstName%></div>
  <div>  Last Name: <%= user.lastName%></div>
  <div>  Phone Number: <%= user.phoneNumber%></div>
  <div>  Email: <%= user.email%></div>
  <div>  Previous Orders: <%= user.previousOrders%></div>

</body>
</html>