<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">
  
  
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/myAccount.css">
  
    <title>Milkies</title>

</head>

<%- include('../partials/navbar.ejs') %>
<body class="account-body">

  <h1>Profile</h1>

  <section class="profile">
    <section class="info">
      <p class="edit-below">Edit your profile below:</p>

      <form action="/user?_method=PUT" method="POST">

    <div class="input" id="first_name"> 
      <p class="input-tag"> First Name: <%= user.firstName%></p>
      <span class="btn-con"><button id="edit-first_name">EDIT</button></span>
    </div>
  
    
    <div  id="first_name_input">
      <div class="input-field">
        <input type="text" name="firstName" id="firstName" required>
      </div>
        <button class="update-first_name" type="button">UPDATE</button>
  <div id="error-message-name"></div>
</div>

<div class="input" id="last_name"> 
  <p class="input-tag">Last Name: <%= user.lastName%></p>
  <span class="btn-con"><button id="edit-last_name">EDIT</button></span>
</div>

<div id="last_name_input">
  <div class="input-field">
  <input type="text" name="lastName" id="lastName" required>
  </div>
  <button class="update-last_name" type="button">UPDATE</button>
  <div id="error-message-name"></div>
</div>

  <div class="input" id="phone-number"> 
    <p class="input-tag">Phone Number: <%= user.phoneNumber%></p>
   <span class="btn-con"> <button id="edit-phone_number">EDIT</button></span>
  </div>
  
  <div id="phone-number_input">
    <div class="input-field">
    <input type="text" name="phoneNumber" id="phoneNumber" required>
    </div>  
    <button class="update-phone_number" type="button">UPDATE</button>
    <div id="error-message-name"></div>
  </div>

</form>

<p class="input-tag">Email: <%= user.email%></p>
<div class="past-orders">
  <a class='past-orders-link' href="/user/orders">View Past Orders</a>
</div>

</form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/scripts/profile.js"></script>
    

    </section>
  </section>
</body>



</html>