<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/cart.css">

  <title>Milkies</title>
</head>

<body class="cart-body">
  <%- include('../partials/navbar.ejs') %>

    <% if (!id) {%>
      <h2>Empty bag. Please log in to place an order</h2>
      <% } %>

        <% if (id && cart.length===0) {%>
          <h3> Hi <%=user.firstName %>, your cart is empty. </h3>
          <% } %>

            <% if (id && cart.length>0) {%>
              <section class="cart">

                <h2 id="order-title">Review Your Order</h2>
                <% for (let item of cartItems) {%>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%=item.quantity%> x <%=item.drinkName%>
                          </h5>
                          <p class="card-text">
                            <%=item.size[0].size%>,
                              <%=item.milkType[0].milkName%>,
                                <%=item.iceLevel%>,
                                  <%=item.sugarLevel%> Sugar,
                                    <% for (topping of item.topping){ %>
                                      <%=topping.toppingName%>,
                                        <%}%>
                          </p>
                          <div class="total">

                            <% let toppingsArr=[] %>
                              <% for (topping of item.topping){ %>
                                <% toppingsArr.push(topping.price) %>
                                  <% }%>
                                    <% const allToppings=toppingsArr.reduce((previousValue, currentValue)=>
                                      previousValue +
                                      currentValue)%>

                                      <% let drinkTotal=(4.99 + item.milkType[0].price + item.size[0].price+
                                        allToppings)*item.quantity %>
                                        Total: $<%=drinkTotal.toFixed(2)%>
                          </div>

                  <form action="/user/cart/delete" method="POST">
                    <button class="delete-btn">Remove</button>
                  </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                  </div>


                  <%}%>
                    <%if (cart.length<1){%>
                      <button>Go to menu</button>
                      <%} else {%>

                        <a href="/user/checkout">Go to Checkout</a>
                        <%}%>
                          <%}%>


              </section>
</body>


</html>