<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/cart.css">

  <title>Milkies</title>
</head>

<body class="cart-body">
  <%- include('../partials/navbar.ejs') %>

    <% if (!id) {%>
      <div class="empty-msg">
        <h2>Please log in to place an order.</h2>
        <a class="back" href="/user/login">Log in</a>
      </div>
      <% } %>

        <% if (id && cart.length===0) {%>
          <div class="empty-msg">
            <h2> Hi <%=user.firstName %>, your cart is empty. </h2>
            <a class="back" href="/menu">Return to Menu</a>
          </div>
          <% } %>
            <% if (id && cart.length>0) {%>
              <section class="cart">
                <h2 id="order-title">Review Your Order</h2>
                <% for (let item of cartItems) {%>
                  <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%=item.quantity%> x <%=item.drinkName%>
                          </h5>
                          <p class="card-text">
                            <%=item.size[0].size%>,
                              <%=item.milkType[0].milkName%>,
                                <%=item.iceLevel%>,
                                  <%=item.sugarLevel%> Sugar,

                                    <% let toppingNames=[] %>
                                      <% for (topping of item.topping){ %>
                                        <% toppingNames.push(topping.toppingName) %>
                                          <% }%>
                                            <%=toppingNames.join(', ')%>

                          </p>
                          <div class="total">

                            <% let toppingsArr=[] %>
                              <% for (topping of item.topping){ %>
                                <% toppingsArr.push(topping.price) %>
                                  <% }%>
                                    <% const allToppings=toppingsArr.reduce((previousValue, currentValue)=>
                                      previousValue +
                                      currentValue)%>

                                      <% let drinkTotal=(4.99 + item.milkType[0].price + item.size[0].price+
                                        allToppings)*item.quantity %>
                                        Total: $<%=(drinkTotal*1.13).toFixed(2)%>
                          </div>

                  <form action="/user/cart" method="POST">
                    <input type="hidden" name="drinkId" value="<%=item.drinkId%>">
                    <button class="delete-btn">Remove</button>
                  </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                  </div>

                  <%}%>
                    <%if (cart.length<1){%>
                      <button>Go to menu</button>
                      <%} else {%>

                        <a class="checkout-btn" href="/user/checkout">Go to Checkout</a>
                        <%}%>
                          <%}%>

              </section>
</body>


</html>