<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Milkies</title>
</head>
<script>

</script>

<body>
  <%- include('../partials/navbar.ejs') %>

    <h1>Cart</h1>
    <% if (!id) {%>
      <h2>Empty bag. Please log in to place an order</h2>
      <% } %>

        <% if (id && cart.length===0) {%>
          <h3> Hi <%=user.firstName %>, your cart is empty. </h3>
          <% } %>

            <% if (id && cart.length>0) {%>
              <h2>Review your order</h2>
              <% for (let item of cartItems) {%>
                <div>

                  <div><img src=<%=item.image%> alt="" style="height:150px"></div>
                  <%=item.quantity%>x <%=item.drinkName%>
                      <ul>
                        <li>
                          <%=item.size%>
                        </li>
                        <li>
                          <%=item.topping%>
                        </li>
                        <li>
                          <%=item.sugarLevel%> Sugar
                        </li>
                        <li>
                          <%=item.iceLevel%>
                        </li>

                        <li>
                          <% const total=(item.price )* item.quantity%>
                            <%=total%>
                        </li>
                      </ul>
                </div>
                <form action="" method="">
                  <button>Edit</button>
                </form>
                <form action="/user/cart?_method=DELETE" method="POST">
                  <button>Delete</button>
                </form>
                <%}%>
                  <%}%>

                  <%if (cart.length<1){%>
                    <button>Go to menu</button>
                    <%} else {%>
                      <button>Go to checkout</button>
                      <%}%>

</body>
<script>
  if (size === 'Large') {
    item.price += 0.69
  }
</script>

</html>