<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/checkout.css">


  <title>Milkies</title>
</head>

<body class="checkout-body">
  <%- include('../partials/navbar.ejs') %>

    <h1>CHECKOUT</h1>


    <div>Pick up Address:
    </div>
    <div>Milkies
      111 Boba Ave, Vaughan, On, B0B 4V3</div>



    <div>Pick-up estimate 5-15 min(s)</div>


    Your Items:
    <div>
      <a href="/menu">+ Add Items</a>
    </div>

    <% let subtotal=0 %>
      <% cartItems.forEach(function (item) {%>
        <section class="checkout-item"> <div class="">
          <%=item.quantity%> x <%=item.drinkName%>
              </div>
              <div>
                <% let toppingsArr=[] %>
                  <% for (topping of item.topping){ %>
                    <% toppingsArr.push(topping.toppingName) %>
                      <% }%>
                        <%=item.size[0].size%>, <%=item.milkType[0].milkName%>, <%=item.iceLevel%>,
                              <%=toppingsArr.join(', ') %>
          </div>
          <div>
            <% let toppingsPrice=[] %>
            <% for (topping of item.topping){ %>
              <% toppingsPrice.push(topping.price) %>
                <% }%>
                    <% const allToppings=toppingsPrice.reduce((previousValue, currentValue) => previousValue + currentValue)%>

                      <% let drinkTotal=(4.99 + item.milkType[0].price + item.size[0].price+ allToppings)*item.quantity %>
                        Total: $<%=drinkTotal.toFixed(2)%>
          </div>
        </section>

          <% subtotal += Number(drinkTotal) %>
                  
          <%})%>

        <div>Payment Method:</div>


        <div>Subtotal: $<%=subtotal.toFixed(2)%></div>

        <div>Taxes: $<%=(subtotal*0.13).toFixed(2)%></div>

        <div>Total: $<%=(subtotal*1.13).toFixed(2)%></div>

       <form action="/user/checkout" method="POST">
         <button>Submit</button>
       </form>

</body>

</html>