<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/checkout.css">

      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

  <title>Milkies</title>
</head>

<body class="checkout-body">
  <%- include('../partials/navbar.ejs') %>
<section class="checkout">

    <h1 class="checkout-title">Milkies Boba</h1>

    <section class="checkout-info">

      <section class="store-info">

        <div>Pick up Address:</div>
        <div class="address">
          Milkies 111 Boba Ave, Vaughan, On, B0B 4V3
        </div>
      
      <div class="pick-up">Pick-up estimate 5-15 min(s)</div>
      <div> 
        Your Order:
        <a href="/menu">+ Add Items</a>
      </div>
    </section>

    <% let subtotal=0 %>
      <% cartItems.forEach(function (item) {%>
        <section class="checkout-item">
          <div class="drink-title">
            <%=item.quantity%> x <%=item.drinkName%>
          </div>
          <div class="drink-info">
            <% let toppingsArr=[] %>
              <% for (topping of item.topping){ %>
                <% toppingsArr.push(topping.toppingName) %>
                  <% }%>
                    <%=item.size[0].size%>, <%=item.milkType[0].milkName%>, <%=item.iceLevel%>,
                          <%=toppingsArr.join(', ') %>
          </div>
          <div>
            <% let toppingsPrice=[] %>
            <% for (topping of item.topping){ %>
              <% toppingsPrice.push(topping.price) %>
                <% }%>
                    <% const allToppings=toppingsPrice.reduce((previousValue, currentValue) => previousValue + currentValue)%>

                      <% let drinkTotal=(4.99 + item.milkType[0].price + item.size[0].price+ allToppings)*item.quantity %>
                        Total: $<%=drinkTotal.toFixed(2)%>
          </div>
        </section>

          <% subtotal += Number(drinkTotal) %>
                  
          <%})%>
        </section>
        <section class="total-info">
          <div>Payment Method: Cash In-store</div>
          <div>Subtotal: $<%=subtotal.toFixed(2)%></div>
          <div>Taxes: $<%=(subtotal*0.13).toFixed(2)%></div>
          <div>Total: $<%=(subtotal*1.13).toFixed(2)%></div>
        </section>
          <form action="/user/checkout" method="POST">
         <button>SUBMIT</button>
       </form>
      </section>

</body>

</html>