<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

      <!-- Stylesheets -->
      <link rel="stylesheet" href="/styles/navbar.css">
      <link rel="stylesheet" href="/styles/adminOrders.css">

  <title>Milkies</title>

</head>
<%- include('../partials/navbar.ejs') %>
<body>

  <section class="order-con">
  
  <h1>ORDER HISTORY</h1>

  <section class="order">

    <%if (pastOrders.length===0){%>
<h2>You have no previous orders. Start your order <a href="/menu">here</a></h2>
  <%} else {%>
  <% for (let order of pastOrders.reverse()){ %>
    <div class="order-detail" id="order-deets">
      <span>Order ID:</span>
      <%= order.orderId%>
    </div>
    <div class="order-detail">   
      <span>Ordered At:</span>
      <%=order.orderedAt.toString().slice(0, -32)%>
    </div>
    <div class="order-detail">
      <p>Order:</p>
    <%for (let drink of order.orderItems) {%>
      <%=drink.quantity%> x <%=drink.drinkName%>
      <%=drink.size[0].size%>,  <%=drink.milkType[0].milkName%>, <%=drink.sugarLevel%> Sugar, <%=drink.iceLevel%>,

      <%let toppingsArr = [];%>
       <% for (topping of drink.topping){%>
        <% toppingsArr.push(topping.toppingName)%>
        <% }%>
        <%=toppingsArr.join(", ")%>
</div>

    <% } %>
    <div>
    <span class="total">Total:</span>  <%=order.total%>
  </div>
    <% } %>
    <% } %>
    
</section>
</section>
</body>
</html>