<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
      <!-- Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400&display=swap" rel="stylesheet">

      <!-- Stylesheets -->
      <link rel="stylesheet" href="/styles/navbar.css">
      <link rel="stylesheet" href="/styles/orderHistory.css">

  <title>Milkies</title>


</head>
<%- include('../partials/navbar.ejs') %>
<body>
  
  <h1>ORDER HISTORY</h1>

  <div class="order-his">
  <%if (pastOrders.length===0){%>
<h2>You have no previous orders. Start your order <a href="/menu">here</a></h2>
  <%} else {%>
  <% for (let order of pastOrders){ %>
    <div>
      Order ID: <%= order.orderId%>
    </div>
    <div>   
      <%=order.orderedAt%>
    </div>
    <%for (let drink of order.orderItems) {%>
      <%=drink.quantity%> x <%=drink.drinkName%>
      <%=drink.size[0].size%>,  <%=drink.milkType[0].milkName%>, <%=drink.sugarLevel%> Sugar, <%=drink.iceLevel%>,

      <%let toppingsArr = [];%>
       <% for (topping of drink.topping){%>
        <% toppingsArr.push(topping.toppingName)%>
        <% }%>
        <%=toppingsArr.join(", ")%>
<div>

</div>
    <% } %>
    Total: <%=order.total%>
    <% } %>
    <% } %>
    
  </div>
</body>
</html>